body {
  height: 100%;
}

.bell {
  position: relative;
  float: right;
  z-index: 2;
}

.key {
  position: relative;
  float: right;
  z-index: 2;

}

.plus_circle {
  position: relative;
  z-index: 2;
}

.menu {
  position: absolute;
  right: 0;
  bottom: 0;
}

.profile {
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
}
